{% extends "base.html.twig" %}

{% block title %}API-routes{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
<div class="content api">
    <article>
        <h1>List of API-routes:</h1>
        <ul>
            {% for route in routes %}
            <li>{{ route.header }}</li>
            <p>{{ route.description }}</p>

            {% if route.isbn is not null %}
            <p>
                <a href="{{ path('json-isbn', {isbn: route.isbn }) }}">Länk till JSON-struktur för ISBN: {{ route.isbn }}</a>
            </p>
            {% endif %}

            {% endfor %}
        </ul>
    </article>

</div>
{% endblock %}