<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="icon" href="{{ asset('img/shiba_icon.svg') }}">

    {% block stylesheets %}
    {% if 'encore_entry_link_tags' is defined and app.environment != 'test' %}
    {{ encore_entry_link_tags('app') }}
    {% else %}
    <link rel="stylesheet" href="{{ asset('test-fallback.css') }}">
    {% endif %}
    {% endblock %}

    {% block javascripts %}
    {% if 'encore_entry_script_tags' is defined and app.environment != 'test' %}
    {{ encore_entry_script_tags('app') }}
    {% endif %}
    {% block importmap %}
    {% if 'importmap' is defined and app.environment != 'test' %}
    {{ importmap('app') }}
    {% endif %}
    {% endblock %}
    {% endblock %}
</head>

<body>
    <header class="header">
        <h1>My Symfony Site</h1>
        <nav class="nav">
            <ul>
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('lucky') }}">Lucky number</a></li>
                <li><a href="{{ path('json_routes') }}">API-routes</a></li>
                <li><a href="{{ path('card') }}">Cards</a></li>
                <li><a href="{{ path('game') }}">Game</a></li>
                <li><a href="{{ path('library') }}">Library</a></li>
                <li><a href="{{ path('metrics') }}">Metrics</a></li>
            </ul>
        </nav>
    </header>
    {{ include('flash.html.twig') }}

    <main class="main">
        {% block content %}{% endblock %}
        {% block sidebar %}{% endblock %}
    </main>

    <footer class="footer">
        {% block footer %}
        &copy; Copyright 2025 by me.
        {% endblock %}
    </footer>
</body>

</html>